<div class="modal-header" data-ng-show="logs.errorMessage">
  <h3>Error getting the logs file. - {{logs.errorMessage}}</h3>
</div>
<div class="modal-body">
  <div data-ng-bind-html="logs.text" data-ng-show="logs.errorMessage"></div>
  <pre data-ng-hide="logs.errorMessage">{{logs.text}}</pre>
</div>