<html>
	<link rel="stylesheet" href="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/css/server-properties.css" type="text/css"/>
	<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/lib/inheritance.js"></script>
	<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/gp-pyxis-util-${greenPepper.getVersion()}.js"></script>
	<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/ConfluenceActions-${greenPepper.getVersion()}.js"></script>
	<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/server-properties-${greenPepper.getVersion()}.js"></script>
	<script language="JavaScript" type="text/javascript">
		var gpProperties = new GPProperties('$req.contextPath', GP.ConfluenceActions);
		gpProperties.addAjaxListeners();
	</script>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        #applyDecorator ("root")
            #decoratorParam ("context" "spaceadminpanel")
            #decoratorParam ("selection" "EditServerProperties")
            #decoratorParam ("title" $action.name)
            #decoratorParam ("selectedTab" "admin")
            #decoratorParam("helper" $action.helper)

			<div>
				<div id="registrationPane_display" class="sp_configPane" >	
					<script language="javascript" type="text/javascript">gpProperties.getRegistration('$action.spaceKey');</script>
				</div>
			</div>
			<div>
				<table class="sp_footer" cellspacing="0" cellpadding="0">
					<tr>
						<td class="sp_msg">
							<span id="waiting_display" class="gpSmallText">
								<img src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/images/wait_12.gif" alt="" border="0">
								&nbsp;$action.getText('greenpepper.properties.working')
							</span>
							<span id="systemError_display" class="gpSmallErrMsg" style="display:none;">$action.getText('greenpepper.properties.systemerror')</span>
						</td>
						<td class="sp_powered">
						  <span class="sp_powered">$action.getText('greenpepper.properties.poweredby')</span>&nbsp;
						  <a href="http://strator-dev.github.io/greenpepper/" target="_blank">
							<img src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/images/greenpepper_logo.gif"
								 class="centeredImage" alt="" border="0">
						  </a>
                          &nbsp; $greenPepper.version
						</td>
					</tr>
				</table>
			</div>

		#end
    #end
</html>
