table {
    border-spacing: 0;
    border-collapse: collapse;
}
table > thead > tr > th {
    vertical-align: bottom;
    border: 2px solid #ddd;
    padding: 8px;
}
table > tbody > tr > td {
    vertical-align: bottom;
    border: 1px solid #ddd;
    padding: 8px;
}