<html>
    <head>
    	 <meta name="decorator" content="atl.admin"/>
		<title>$action.getText('greenpepper.install.title')</title>
    </head>
    <body>
		<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/lib/inheritance.js"></script>
		<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/gp-pyxis-util-${greenPepper.getVersion()}.js"></script>
		<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/ConfluenceActions-${greenPepper.getVersion()}.js"></script>
		<script language="JavaScript" type="text/javascript" src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/js/server-properties-${greenPepper.getVersion()}.js"></script>
		<script language="JavaScript" type="text/javascript">
			var gpProperties = new GPProperties('$req.contextPath', GP.ConfluenceActions);
			gpProperties.addAjaxListeners();
			
			function updateTabsUI(selectedTab)
			{
				$('#gpconfig-tabs .tabs-menu li').each(function(s){s.className="menu-item";});
				selectedTab.className='menu-item active-tab';
			}
		</script>
		<link rel="stylesheet" href="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper.configuration/css/server-properties.css" type="text/css"/>
        #if ($permissionHelper.isConfluenceAdministrator($remoteUser))
			#parse ( "/template/includes/actionerrors.vm" )

			#if (!${action.hasActionErrors()})
			<div id="gpconfig-tabs" class="aui-tabs horizontal-tabs">
				<ul class="tabs-menu">
					<li class="menu-item">
						<a id="tabMenu_dbms" href="#dbmsConfigPane_display" onclick="updateTabsUI(this);gpProperties.getDbmsConfigPane();">$action.getText('greenpepper.install.tabmenu.dbms')</a>
                    </li>
					<li class="menu-item">
						<a id="tabMenu_runners" href="#runnersPane_display" onclick="updateTabsUI(this);gpProperties.getRunnersPane();">$action.getText('greenpepper.install.tabmenu.runners')</a>
					</li>
					<li class="menu-item">
						<a id="tabMenu_projects" href="#GpProjectPane_display" onclick="updateTabsUI(this);gpProperties.getGpProjectPane();">$action.getText('greenpepper.install.tabmenu.gpproject')</a>
					</li>
					<li class="menu-item">
						<a id="tabMenu_fsRegistration" href="#fileSystemPane_display" onclick="updateTabsUI(this);gpProperties.getFileSystemRegistration();">$action.getText('greenpepper.install.tabmenu.fsregister')</a>
					</li>
					<li class="menu-item">
						<a id="tabMenu_demo" href="#demoPane_display" onclick="updateTabsUI(this);gpProperties.getDemoPane();">$action.getText('greenpepper.install.tabmenu.demo')</a>
				    </li>
				</ul>
				
				<div id="dbmsConfigPane_display" class="tabs-pane"></div>
				<div id="runnersPane_display" class="tabs-pane"></div>
				<div id="GpProjectPane_display" class="tabs-pane"></div>
				<div id="fileSystemPane_display" class="tabs-pane"></div>
				<div id="demoPane_display" class="tabs-pane"></div>
				
			</div>
        	<br />
			#end
			#parse('templates/greenpepper/configuration/poweredByGPFooter.vm')
			#parse ( "/admin/admin-breadcrumbs.vm" )
        #else
            <div class="errorBox">
                <p> $action.getText('greenpepper.install.adminuseronly') </p>
            </div>
        #end
        	<script language="JavaScript" type="text/javascript">
				$('#gpconfig-tabs .tabs-menu .menu-item a')[0].onclick();
                $('#gpconfig-tabs .tabs-menu .menu-item:first').addClass("active-tab");
			</script>
    </body>
</html>